<html>
<head>
<title>Biodata</title>
<script src="/static/scripts/jquery-1.11.2.min.js"></script>
<link href="/static/css/select2.min.css" rel="stylesheet" />
<link href="/static/css/styles.css" rel="stylesheet" />
<link href="/static/css/jquery-ui.min.css" rel="stylesheet" />
<link href="/static/css/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="/static/scripts/jquery-ui.min.js"></script>
<script src="/static/scripts/select2.min.js"></script>
<script src="/static/scripts/jquery.form.js"></script>
<script type="text/javascript">

var formContainer = function (id,classes) {
  this.id = id
  classes = classes || []
  this.classes=['ajaxForm'].concat(classes)
};

formContainer.prototype.render = function(params){
  this.container = jQuery("#"+this.id)
  if (this.container.length==0){
      this.container = jQuery("<div class='"+this.classes.join(" ")+"' id='"+this.id+"'></div>");
      jQuery("#forms").append(this.container);
  }
}

var ObservationList = function(){
  this.url='/observation/'
  formContainer.call(this, id='ObservationList', classes=['list']);
}
ObservationList.prototype = Object.create(formContainer.prototype);
ObservationList.prototype.constructor = ObservationList;
ObservationList.prototype.render = function(){
  formContainer.prototype.render.call(this,arguments)
  jQuery.ajax({method:'get',url:this.url+'?'+jQuery.param(params),context:this,success:function(data){
    console.log(this.container);
    this.container.html(data)
  }});
}

var ObservationForm = function(){
  formContainer.call(this, id='observationForm' classes=[]);
}
ObservationForm.prototype = Object.create(formContainer.prototype);
ObservationForm.prototype.constructor = ObservationForm;
ObservationForm.prototype.render = function(){
  formContainer.prototype.render.apply(this,arguments);
  this.container.find('form').submit(function(e){
    e.preventDefault();
    jQuery.ajax({
      method:"POST",
      url: jQuery(this).attr('action'),
      data: jQuery(this).serialize(),
      success:function(data,textStatus){
        obsForm=jQuery("#observationForm")
        obsForm.html(data);
        setModalLinks(obsForm);
        obsForm.find('button[name="save"]').remove();
        jQuery('#messages').html("<div class='message'>Observation saved.</div>");
        obsList.render({sampleid:sampleid});
        setObservationForm();
        },
      error:function(data,textStatus){
        console.log('error');
      }
    });
    return false;
  });
}

var obsList = new ObservationList();

function setObservationForm(){
}
function getObservationForm(sampleid){
  jQuery.get("/observation/new?sample="+sampleid,function(data){
    obsForm=jQuery('#observationForm')
    if(obsForm.length==0){
      obsForm=jQuery("<div class='ajaxform' id='observationForm'></div>");
      jQuery("#forms").append(obsForm);
    }
    obsForm.html(data);
    obsForm.find('button[name="save"]').remove();
    setModalLinks(obsForm);
    setObservationForm();
  });
}
function setModalLinks(obj){
  console.log(obj);
  obj.find('a.addlink').click(function(){
    url=jQuery(this).attr('href')
    console.log(url);
    dialog=jQuery("<div class='modalForm'><iframe src='"+url+"'></iframe></div>");
    jQuery('body').append(dialog);
    dialog = dialog.dialog({
      autoOpen: false,
      width: 400,
      height: 400,
      modal: true,
      buttons: {
        Save: function(){
          jQuery(this).find("iframe").contents().find("form").submit();
          jQuery(this).dialog("close");
        }
      }
    });
    dialog.dialog("open");
    console.log(dialog.find('iframe'));
    dialog.find('iframe').load(function(){
      contents=jQuery('iframe').contents();
      contents.find('button').remove();
      contents.find("form").submit(function(e){
        e.preventDefault();
        jQuery.ajax({
          method: "POST",
          url: jQuery(this).attr('action'),
          data: jQuery(this).serialize(),
          success: function(e){
            console.log(e);
          }
        });
        return false;
      });
    });
    return false;
  });
}
jQuery(document).ready(function(){
  jQuery.get("/sample/new",function(data){
    sampleform = jQuery('#sampleForm');
    if (sampleform.length == 0){
      sampleform = jQuery("<div class='ajaxForm' id='sampleForm'></div>");
      jQuery("#forms").append(sampleform);
    }
    sampleform.html(data);
    setModalLinks(sampleform);
    sampleform.find('button[name="save_new"]').remove();
    jQuery('#sampleForm form').submit(function(e){
      e.preventDefault();
      jQuery.ajax({
        method: "POST",
        url: jQuery(this).attr('action'),
        data: jQuery(this).serialize(),
        success:function(data,textStatus){
          jQuery("#sampleForm").html(data);
          setModalLinks(jQuery(data));
          sampleid=jQuery("#sampleForm input[name='id']").val();
          jQuery('#messages').append("<div class='message'>Sample saved.</div>");
          obsList.render({sampleid:sampleid})
          getObservationForm(sampleid=sampleid);
        },
        error:function(data,textStatus){
          console.log('error');
        }
      });
      return false;
    });
  });
});
</script>
</head>
<body>
  <div id='messages'></div>
  <div id="forms">
  </div>
</body>
</html>
