<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ name }}</title>
<link href="/static/css/styles.css" rel="stylesheet" />
</head>
<body id='{{ name }}List' class='list'>
  <div class="headerrow">
    {% for k in fields %}
      <span class='headerfield {{ k }}'>{{ k }}</span>
    {% endfor %}
    <span class='headerfield deletelink'>&nbsp;</span>
  </div>
    {% for inst in instances %}
        <div class='datarow {{ loop.cycle("even","odd") }}'>
            {% for k in fields %}
                <span class="datafield {{ k }}">{{ inst[k] or '' }}</span>
            {% endfor %}
            <span class="datafield editlink"><a class="editlink" href='{{ url_for("/.edit",id=inst["id"],**request.view_args) }}'>edit</a></span>
            <span class="datafield deletelink"><a class="deletelink" href='{{ url_for("/.delete",id=inst["id"],**request.view_args) }}'>delete</a></span>
        </div>
    {% endfor %}
</body>
</html>
