$def with (instances,fields)
<html>
<head>
<title>Observations</title>
<link href="/static/css/styles.css" rel="stylesheet" />
</head>
<body id='observationList' class='list'>
  <div class="headerrow">
    $for k in fields:
      <span class='headerfield $k'>$k</span>
    <span class='headerfield'>&nbsp;</span>
  </div>
  $for i,inst in enumerate(instances):
    <div class='datarow $ ["even","odd"][i%2]'>
      $for k in fields:
        <span class="datafield $k">$(inst[k] or '')</span>
    <span class="datafield deletelink"><a href='$:url("/delete")?id=$(inst["id"])'>delete</a></span>
    </div>
</body>
</html>
