<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ name }}</title>
<link href="/static/css/styles.css" rel="stylesheet" />
</head>
<body id='{{ name }}List' class='list'>
	{% with messages = get_flashed_messages() %}
  <ul class="messages">
	  {% if messages %}
	    {% for message in messages %}
	      <li class="message">{{ message }}</li>
	    {% endfor %}
	  {% endif %}
  </ul>
	{% endwith %}
  <ul class="menu">
    <li><a href="{{ url_for('/.newsample', datasetname=request.view_args['datasetname']) }}">Add sample</a></li>
  </ul>
  <div class="headerrow">
    {% for k in fields %}
      <span class='headerfield {{ k }}'>{{ k }}</span>
    {% endfor %}
    <span class='headerfield editlink'>&nbsp;</span>
    <span class='headerfield deletelink'>&nbsp;</span>
  </div>
    {% for inst in instances %}
        <div class='datarow {{ loop.cycle("even","odd") }}'>
            {% for k in fields %}
                <span class="datafield {{ k }}">{{ inst[k] or '' }}</span>
            {% endfor %}
            <span class="datafield editlink"><a class="editlink" href='{{ url_for("/.editsample",id=inst["id"], datasetname=request.view_args["datasetname"]) }}'>edit</a></span>
            <span class="datafield deletelink"><a class="deletelink" href='{{ url_for("/.delete",id=inst["id"],**request.view_args) }}'>delete</a></span>
        </div>
    {% endfor %}
</body>
</html>

