$def with (observers,fields)
<html>
<head>
<title>Observers</title>
<style type="text/css">
    .datafield, .headerfield{
      margin-left: 10px;
      min-width: 300px;
      display: inline-block;
    }
    .headerfield{
      font-size: 1.2em;
      font-weight: bold;
    }
</style>
</head>
<body>
  <div class="headerrow">
    $for k in fields:
      <span class='headerfield $k'>$k</span>
  </div>
  $for i,obs in enumerate(observers):
    <div class='datarow $ ["even","odd"][i%2]'>
      $for k in fields:
        <span class="datafield $k">$(obs[k] or '')</span>
    </div>
</body>
</html>
