$def with (sites,fields)
<html>
<head>
<title>Sites</title>
<script src="/static/scripts/jquery-1.11.2.min.js"></script>
<link href="/static/css/select2.min.css" rel="stylesheet" />
<link href="/static/css/styles.css" rel="stylesheet" />
<link href="/static/css/jquery-ui.min.css" rel="stylesheet" />
<link href="/static/css/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="/static/scripts/jquery-ui.min.js"></script>
<script src="/static/scripts/select2.min.js"></script>
</head>
<body id='siteList' class='list'>
  <div class="headerrow">
    $for k in fields:
      <span class='headerfield $k'>$k</span>
  </div>
  $for i,site in enumerate(sites):
    <div class='datarow $ ["even","odd"][i%2]'>
      $for k in fields:
        <span class="datafield $k">$(site[k] or '')</span>
    </div>
</body>
</html>
