$def with (species)
<html>
<head>
<title>Observations</title>
<style type="text/css">
    .datafield, .headerfield{
      margin-left: 10px;
      min-width: 300px;
      display: inline-block;
    }
    .headerfield{
      font-size: 1.2em;
      font-weight: bold;
    }
</style>
</head>
<body>
  <div class="headerrow">
    <span class='headerfield'>Common Name</span>
    <span class='headerfield'>Scientific Name</span>
  </div>
  $for sp in species:
    <div class='datarow'>
        <span class="datafield">$sp.common_name</span>
        <span class="datafield">$sp.scientific_name</span>
    </div>
</body>
</html>
